*.prefs
.project
/.metadata/
/.recommenders/

.idea/

*.iml
*.eml

logs/

activeplanmng-lib/.toDelete

**/.mvn/*
*/ignite/**
*/target/**
*/bin/**
*/settings/**
*/logs/**
ignite.zip
*.factorypath
*.classpath
ignite/README.txt